body {
  padding: 0;
  font-family: sans-serif;
}

/* .habit-app-bar {

} */

@media (min-width: 460px) {
  body {
    box-shadow: 1px 1px 10px 3px #aeaeaf;
    border: 1px solid #cfcfdd;
    min-height: 100vh;
    max-width: 390px;
    margin: 0 auto;
    position: relative
  }
}
