body {
  padding: 0;
  font-family: sans-serif;
  margin: 0
}

/* .habit-app-bar {

} */

@media (min-width: 460px) {
  body {
    box-shadow: 1px 1px 10px 3px #aeaeaf;
    min-height: 100vh;
    max-width: 390px;
  }
}
